# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/.venv/
.venv/

# Environment
.env
backend/.env

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/